* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  color: white;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #191919;
  width: 100%;
  height: 11000px;
  overflow-x: hidden;
}

/*************MENU*****************/

.menu {
  width: 100%;
  height: 50px;
  background-color: #191919;
  position: fixed;
  z-index: 10000;
  display: flex;
}

.menu_droite {
  position: relative;
  width: 35%;
  height: 100%;
  margin-right: 0;
  justify-content: space-around;
}

.menu_gauche {
  display: flex;
  width: 40%;
  height: 100%;
  margin-left: 1%;
  text-align: center;
}

.menu .menu_droite,
.menu_gauche {
  font-family: "Julius Sans One";
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
}

#croix,
#rideau,
#circulaire,
#playButton {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#croix,
#rideau,
#circulaire {
  border-left: 1px solid white;
}

#croix,
#playButton {
  width: 14%;
  height: 100%;
}

#rideau {
  width: 46%;
  height: 100%;
}

#circulaire {
  width: 26%;
  height: 100%;
}

.croix,
.sound {
  position: relative;
  height: 20px;
  width: 20px;
  display: flex;
  cursor: pointer;
}

/*************RIDEAU*****************/

nav {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #191919;
  transform: translateY(-100%);
  transition: transform 0.3s ease;
  z-index: 1000;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

nav.active {
  transform: translate(0);
}

.block {
  height: 100%;
  width: 100%;
  display: block;
}

.block p {
  margin-top: 3%;
  font-size: 15px;
  text-align: center;
  font-family: "Julius Sans One";
  /*font-weight: bolder;*/
  color: white;
}

.block .ligne1,
.ligne2,
.ligne3 {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: calc(100% / 3);
}

.element {
  position: relative;
  width: 17%;
  height: 80%;
  background-color: white;
}

.block img {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: .2s linear;
  box-shadow:
    inset 0 -3em 3em rgb(0 0 0 / 30%),
    0.3em 0.3em 1em rgb(0 0 0 / 60%);
}

.block img:hover {
  transform: scale(1.05);
}

.conteneur_haut {
  position: relative;
  width: 100%;
  height: 3000px;
}

/*************FILTRE*****************/

.img_fixed {
  position: fixed;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  pointer-events: none;
}

.img_absolute {
  position: absolute;
  width: 100%;
  height: 100vh;
  margin-top: 3000px;
  object-fit: cover;
  pointer-events: none;
  z-index: 10;
  box-shadow:
    inset 0 -3em 3em rgb(0 0 0 / 30%),
    0.3em 0.3em 1em rgb(0 0 0 / 60%);
}

.conteneur_nom {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
}

#nom_lieu {
  display: flex;
  position: relative;
  margin-top: 74vh;
  text-align: center;
  font-size: 70px;
  color: white;
  letter-spacing: 15px;
  font-family: "Julius Sans One";
  font-weight: bold;
  z-index: 15;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.808);
}

#filtre {
  position: absolute;
  background-color: #19191972;
  width: 100%;
  height: 370vh;
  z-index: 11;
  pointer-events: none;
}

.texte_filtre {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding-right: 15%;
  padding-left: 15%;
}

.texte_filtre p {
  margin-top: 350vh;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: white;
  z-index: 20;
  font-size: 25px;
  position: relative;
  text-align: center;
  line-height: 35px;
}

/*************CONTENEUR*****************/

.conteneur_bas {
  position: relative;
  width: 100%;
  margin-top: 900px;
  height: 4350px;
}

/*************CONTENU****************/

.center {
  position: relative;
  display: flex;
  width: 60%;
  height: 200px;
  padding-top: 200px;
  padding-bottom: 200px;
}

.visible {
  text-align: center;
  display: flex;
  align-self: center;
  font-size: 20px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 35px;
  transition: 1.5s ease;
  opacity: 1;
}

.invisible {
  text-align: center;
  display: flex;
  align-self: center;
  font-size: 20px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 35px;
  transition: 1.5s ease;
  opacity: 0;
}

/*************CAROUSEL*****************/

.carousel {
  height: 80vh;
  width: 70%;
  position: relative;
  margin-top: 300px;
  box-shadow:
    inset 0 -3em 3em rgb(0 0 0 / 30%),
    0.3em 0.3em 1em rgb(0 0 0 / 60%);
}

.carousel div {
  position: relative;
  z-index: 2;
  transform: translateY(-50%);
  top: 50%;
  cursor: pointer;
}

.carousel .btn{
  position: absolute;
  height: 30px;
  width: 120px;
}

#prev {
  margin-left: -110px;
  transform: rotate(-90deg);
}

#next {
  margin-left: 1060px;
  transform: rotate(90deg);
}

.slide {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.4s ease-in-out;
}

.slide.active {
  opacity: 1;
}

.slide img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/****************POPUP IMAGE*****************/

/*.popup-image {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: #191919e3;
  z-index: 100;
  display: none;
}

.popup-image img {
  width: 80%;
  height: 90%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup-image span {
  margin-top: 50px;
  position: absolute;
  top: 0;
  right: 1%;
  font-size: 40px;
  font-weight: bolder;
  color: white;
  cursor: pointer;
  z-index: 10000;
}

@media (max-width:768px) {
  .popup-image img {
    width: 95%;
  }
}*/

/*************QUESTION*****************/

.question {
  margin-top: 130px;
  height: 200px;
}

.questionInvisible {
  text-align: center;
  align-self: center;
  font-size: 50px;
  color: white;
  font-family: "Julius Sans One";
  font-weight: bolder;
  opacity: 0;
  transition: 1.5s ease;
}

.questionVisible {
  text-align: center;
  align-self: center;
  font-size: 50px;
  color: white;
  font-family: "Julius Sans One";
  font-weight: bolder;
  opacity: 1;
  transition: 1.5s ease;
}

.ligne1_bis,
.ligne2_bis {
  position: relative;
  display: flex;
  width: 70%;
  height: 200px;
}

.ligne1_bis {
  margin-top: 30px;
}

.ligne2_bis {
  margin-top: 50px;
}

.texte1,
.texte2 {
  position: relative;
  align-items: center;
  height: 100%;
  width: 85%;
  padding-top: 45px;
}

.texte1 {
  padding-left: 10px;
}

.texte2 {
  text-align: end;
  padding-right: 10px;
}

.play1,
.play2 {
  height: 100px;
  width: 100px;
  align-self: center;
}

.invisible4,
.invisible6 {
  position: relative;
  display: flex;
  width: 15%;
  height: 200px;
  opacity: 0;
  transition: 1.5s ease;
}

.visible4,
.visible6 {
  position: relative;
  display: flex;
  width: 15%;
  height: 200px;
  opacity: 1;
  transition: 1.5s ease;
}

.visible4 img,
.visible6 img{
  cursor: pointer;
}

.invisible2,
.invisible5 {
  font-size: 70px;
  color: white;
  font-family: "Julius Sans One";
  font-weight: bolder;
  opacity: 0;
  transition: 1.5s ease;
}

.visible2,
.visible5 {
  font-size: 70px;
  color: white;
  font-family: "Julius Sans One";
  font-weight: bolder;
  opacity: 1;
  transition: 1.5s ease;
}

.invisible3,
.invisible7 {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  opacity: 0;
  transition: 1.5s ease;
}

.visible3,
.visible7 {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  opacity: 1;
  transition: 1.5s ease;
}


/****************IMAGE SEULE*****************/

.parallax_one {
  margin-top: 200px;
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 90%;
  height: 80vh;
  background-image: url(photos/DSC_0408.JPG);
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}


/****************TEXTES ADDITIONNELS*****************/

.textes_additionnels {
  position: relative;
  width: 70%;
  margin-top: 300px;
}

.droite {
  text-align: end;
}

.paragraphe1 {
  padding-right: 60px;
  transform-origin: left;
}

.paragraphe2 {
  margin-top: 100px;
  padding-left: 60px;
}

.invisibleGauche,
.invisibleDroite {
  opacity: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 35px;
  transition: 1.5s ease;
}

.invisibleGauche {
  transform: translateX(-100%);
}

.visibleGauche,
.visibleDroite {
  opacity: 1;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 35px;
  transition: 1.5s ease;
  transition: opacity 1.5s ease, transform 2s ease;
}

.visibleGauche {
  transform: translateX(0);
}

.invisibleDroite {
  transform: translateX(100%);
}

.visibleDroite {
  transform: translateX(0);
}

/*************AUTRES TEMOIGNAGES*****************/

.temoignage {
  position: relative;
  margin-top: 300px;
}

.visibleLast {
  text-align: center;
  font-size: 50px;
  color: white;
  font-family: "Julius Sans One";
  font-weight: bolder;
  opacity: 1;
  transition: 1.5s ease;
}

.invisibleLast {
  text-align: center;
  font-size: 50px;
  color: white;
  font-family: "Julius Sans One";
  font-weight: bolder;
  opacity: 0;
  transition: 1.5s ease;
}

.invisibleAudioLast {
  width: 100%;
  height: 300px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  opacity: 0;
  transition: 1.5s ease;
}

.visibleAudioLast {
  width: 100%;
  height: 300px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  opacity: 1;
  transition: 1.5s ease;
}

.audio3 img {
  height: 120px;
  width: 120px;
  cursor: pointer;
}


/*************GALLERIE PARALLAX*****************/

.conteneur_parallax {
  width: 100%;
  height: 4200px;
  padding-top: 450px;
}

.conteneur_parallax .portrait {
  width: 400px;
  height: 700px;
}

.conteneur_parallax .paysage {
  width: 700px;
  height: 400px;
}

.conteneur_parallax div {
  position: relative;
  box-shadow:
    inset 0 -3em 3em rgb(0 0 0 / 30%),
    0.3em 0.3em 1em rgb(0 0 0 / 60%);
}

.conteneur_parallax img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#img1 {
  margin-left: 80px;
}

#img2 {
  margin-top: 50px;
  margin-right: 100px;
}

#img3 {
  margin-top: 100px;
  margin-left: 750px;
}

#img4 {
  margin-top: 250px;
  margin-left: 100px;
}

#img5 {
  margin-left: 50px;
}

#img6 {
  margin-left: 700px;
}

/*************RETOUR HAUT*****************/


.retour_haut {
  margin-top: 20vh;
  padding-top: 15vh;
  position: relative;
  width: 100%;
  height: 80vh;
  text-align: center;
  font-weight: bolder;
  align-items: center;
}

.visibleHaut {
  text-align: center;
  font-size: 30px;
  width: 100%;
  color: white;
  font-family: "Julius Sans One";
  opacity: 1;
  transition: 1.5s ease;
}

.invisibleHaut {
  text-align: center;
  font-size: 30px;
  color: white;
  font-family: "Julius Sans One";
  opacity: 0;
  transition: 1.5s ease;
}

.upInvisible {
  width: 100%;
  height: 300px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  opacity: 0;
  transition: 1.5s ease;
}

.upVisible {
  width: 100%;
  height: 300px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  opacity: 1;
  transition: 1.5s ease;
}

.up {
  height: 20px;
  width: 40px;
}

.retour_haut div{
  margin-top: 20px;
}

